<a href="https://colab.research.google.com/github/huijeong99/Database_OZ/blob/main/chapter14_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#코드 제출용 임시파일

USE mydatabase;

-- employees 테이블 생성
CREATE TABLE employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    position VARCHAR(100),
    salary DECIMAL(10, 2)
);

-- 직원 데이터 입력
INSERT INTO employees (name, position, salary)
VALUES ('혜린', 'PM', 90000),
('은우', 'Frontend', 80000),
('가을', 'Backend', 92000),
('지수', 'Frontend', 78000),
('민혁', 'Frontend', 96000),
('하온', 'Backend', 130000);

-- 모든 직원의 이름과 연봉 정보만 조회하는 쿼리 작성
SELECT * FROM employees;

-- Fronted 직책을 가진 직원 중 연봉이 90000이하인 직원의 이름과 연봉을 조회
SELECT name, salary FROM employees WHERE position = 'Fronted' AND salary <= 90000;

-- Frontend 직책을 가진 모든 직원의 연봉을 10% 인상한 후 결과 확인
UPDATE employees
SET salary = salary * 1.10
WHERE position = 'Frontend';
SELECT * FROM employees WHERE position = 'Frontend';

-- Backend 직책을 가진 직원 연봉을 5% 인상
UPDATE employees
SET salary = salary * 1.05
WHERE position = 'Backend';

-- 민혁 사원의 데이터 삭제
DELETE FROM employees WHERE name = '민혁';

-- 모든 직원을 position별로 그룹화하여 각 직책의 평균 연봉을 계산
SELECT position,
AVG(salary)
AS average_salary
FROM emp1oyees GROUP BY posiotion;

-- employees 테이블 삭제
DROP TABLE employees;